/* จัดให้อยู่กึ่งกลาง หรือเว้นระยะห่างของตัวครอบหลัก */
.audit-issues-container {
  padding: 20px;
}

/* ตัวกรอบสำหรับ Filter */
.audit-issues-filter-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  gap: 20px;
}

/*====================================
  ส่วนของการจัดวางการ์ดในหน้า Audit Issues
  ====================================*/
.audit-issues-content {
  display: flex;
}

.audit-issues-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  border-radius: 2rem;
  gap: 20px;
  margin-right: 2rem;
  width: 60%;
  align-content: start;
}

.audit-right-panel {
  width: 40%;
}

.no-result {
  grid-column: 1 / -1;
  /* ให้กล่อง No Result กินพื้นที่เต็มแถว */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  color: #64748b;
  font-size: 16px;
  background-color: #f8fafc;
  border-radius: 12px;
  border: 2px dashed #cbd5e1;
  width: 100%;
}

.no-result img {
  width: 120px;
  opacity: 0.5;
  margin-bottom: 16px;
}

.disabled-card {
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.3s ease;
}

@media (max-width: 1536px) {
  .audit-issues-card-list {
    margin-right: 1rem;
  }
}